@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif; 
}

.container_main{
    width: 60%;
    margin: auto;
}

.containerdatos{
    text-align: center;
    height: 700px;
    margin-top: 5vh;
}

button{
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    font-weight: 500;
    margin-top: 4vh;
    transition: all 0.5s;
}

button:hover{
    background-color: black;
    color: white;
}

h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 4vh;
}

.imgPokemon{
    width: 300px; 
    filter: drop-shadow(5px 5px 10px black); 
    position: absolute;
}

.pokemon-id{
    font-size: 150px;
    color: #ececec;;
    font-weight: 600;
}

h2{
    font-size: 50px;
    text-transform: uppercase;
}

.pokemonStatsClass{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40vh ;
    border-radius: 30px;
    margin: auto;
    margin-top: 3vh;
    padding: 20px;
    box-shadow: 0px 10px 37px 3px rgba(0,0,0,0.1);
}

.tipos{
    
    padding: 5px 10px;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    width: 100px;
    font-weight: 800;
    text-transform: uppercase;
    
}

.col2{
    display: flex;
    justify-content: space-between;
    width: 16   0px;
    margin-top: 2vh;
}

.infopeso_altura{
    font-weight: 500;
    padding: 5px 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    width: 100px;
    text-transform: uppercase;
}

.pokemonSTATS{
    width: 40vh; 
    height: 30vh;
    border-radius: 30px; 
    box-shadow: 0px 10px 37px 3px rgba(0,0,0,0.1); 
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: center;
}